* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(30, 38%, 92%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1.5rem;
}

/* CARD */
.card {
    background: white;
    width: 100%;
    max-width: 375px;
    border-radius: 10px;
    overflow: hidden;
}

/* IMAGE */
.product-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* CONTENT */
.card-content {
    padding: 1.8rem;
}

/* CATEGORY */
.category {
    letter-spacing: 4px;
    color: gray;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

/* TITLE */
.title {
    font-size: 1.9rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 1rem;
}

/* DESCRIPTION */
.description {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: hsl(228, 12%, 48%);
}

/* PRICING */
.price-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.price {
    font-size: 2rem;
    font-weight: 800;
    color: hsl(158, 36%, 37%);
}

.old-price {
    text-decoration: line-through;
    color: gray;
}

/* BUTTON */
.add-btn {
    width: 100%;
    background: hsl(158, 36%, 37%);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.add-btn:hover {
    background: hsl(158, 36%, 27%);
}
