*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: #e3e1de;
display: flex;
justify-content: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
align-items: center;
min-height: 100vh;
padding: 1.8rem;
}

.details{
    background-color: white;
    width: 100%;
    overflow: hidden;
    max-width: 375px;
    border-radius: 10px;
    margin-bottom: 2rem;
} 

.Image{
width: 100%;
height: 350px;
/* object-fit: cover; */
}

.Product{
padding: 1.8rem;
}

.Product-type{
letter-spacing: 3px;
color: hsl(228, 12%, 48%);;
font-size: 0.75rem;
margin-bottom: 0.8rem;

}

.Product-name{
margin-bottom: 1rem;
font-family:'emoji';
}

.Qualities{
font-size: 1rem;
line-height: 1.5rem;
margin-bottom: 1.5rem;
color: hsl(228, 12%, 48%);
}

.Prices{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.Current-price{
color: hsl(158, 36%, 37%);
font-weight: 800;
font-size: 2rem;

}

.old-price{
text-decoration: line-through;
font-size: small;
}

.Cart-icon{
background-color:hsl(158, 36%, 37%);
width: 100%;
border-radius: 10px;
border: none;
color: white;
padding: 0.8rem;
font-size: 1rem;
font-weight: 600;
cursor: pointer;
}

.Cart-icon:hover{
background: hsl(158, 36%, 37%);;
}


